POSTGRES_USER=usuario_aqui
POSTGRES_PASSWORD=password_aqui
POSTGRES_DB=arena_db

MONGO_USER=usuario_aqui
MONGO_PASSWORD=password_aqui

# URL de Postgres: 
DATABASE_URL=postgres://usuario:password@host:puerto/base_de_datos

# URL de Mongo: 
MONGO_URI=mongodb://usuario:password@host:puerto

# URL de Redis: 
REDIS_URL=redis://host:puerto